<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>

                <!-- Session -->
                <rule name="Rewrite Session Bridge">
                    <match url="^session/bridge?$" />
                    <action type="Rewrite" url="/inc/session/session-bridge.asp" />
                </rule>
                <!--/ Session -->

                <!-- Contacts -->
                <rule name="Rewrite to Contacts Module, index">
                    <match url="^contacts\/?$" />
                    <action type="Rewrite" url="/modules/contacts/index.asp" />
                </rule>
                <rule name="Rewrite to Contacts Module, new">
                    <match url="^contacts/new?$" />
                    <action type="Rewrite" url="/modules/contacts/contact-form.asp" />
                </rule>
                <rule name="Rewrite to Contacts Module, edit">
                    <match url="^contacts/edit?$" />
                    <action type="Rewrite" url="/modules/contacts/contact-form.asp" />
                </rule>
                <rule name="Rewrite to Contacts Module, delete">
                    <match url="^contacts/delete?$" />
                    <action type="Rewrite" url="/modules/contacts/data/delete-contact.asp" />
                </rule>
                <!--/ Contacts -->

            </rules>
        </rewrite>
    </system.webServer>
</configuration>